GESEX_SMTP_HOST=smtp.office365.com
GESEX_SMTP_PORT=587
GESEX_SMTP_SECURE=tls
GESEX_SMTP_USERNAME=alertas@geexsa.com
GESEX_SMTP_PASSWORD=Al2020ertas#
GESEX_SMTP_FROM=wifivisitas@geexsa.com
GESEX_SMTP_FROM_NAME=Visitas GESEX

GESEX_DB_HOST=host.docker.internal
GESEX_DB_PORT=3306
GESEX_DB_NAME=auth_system
GESEX_DB_USER=otp_user
GESEX_DB_PASSWORD=CAMBIAR_ESTA_CLAVE

FORTIGATE_AUTH_HOST=192.168.201.1
FORTIGATE_AUTH_PORT=1000
FORTIGATE_AUTH_SCHEME=https
FORTIGATE_AUTH_USERNAME=portal_wifi_gesex
FORTIGATE_AUTH_PASSWORD=1@>(2uo!igY#-W@Wy47~g$C^
GESEX_REPORT_USERNAME=gesex
GESEX_REPORT_PASSWORD=Al2020ertas#
APP_PORT=8080
